<objects xmlns="http://www.springframework.net"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.net
        http://www.springframework.net/xsd/spring-objects.xsd"
         default-lazy-init="true">
  <object id="Zh.DAL.Define.DbContexts.DbContext" type="Zh.DAL.Define.DbContexts.DbContext,Zh.DAL.Define" />
  <object id="Zh.BLL.Define.ServiceContexts.ServiceContext" type="Zh.BLL.Define.ServiceContexts.ServiceContext,Zh.BLL.Define" />
  <object id="Zh.WeiXin.BLL.API.WeiXinAPIContext" type="Zh.WeiXin.BLL.API.WeiXinAPIContext,Zh.WeiXin.BLL"
           autowire="byName"
          >
    <property name="IBasicAPI" ref="Zh.WeiXin.BLL.API.IBasicAPI" />
    <property name="IAccountAPI" ref="Zh.WeiXin.BLL.API.IAccountAPI" />
    <property name="IJSAPI" ref="Zh.WeiXin.BLL.API.IJSAPI" />
    <property name="IQRCodeAPI" ref="Zh.WeiXin.BLL.API.IQRCodeAPI" />
    <property name="IPayCashRedPack" ref="Zh.WeiXin.BLL.API.IPayCashRedPack" />
  </object>
  
  <object id="Zh.BLL.Base.Define.BaseService"
          abstract="true"
          singleton="false" >
    <property name="IBaseDao" ref="Zh.DAL.Define.BaseDaoTemplate" />
    <property name="IValidatorTool" ref="Zh.Framework.Tools.ValidatorTool.IValidatorTool" />
    <property name="ServiceContext" ref="Zh.BLL.Define.ServiceContexts.ServiceContext"/>
    <property name="DbContext" ref="Zh.DAL.Define.DbContexts.DbContext"/>
  </object>
  

  
  <object name="Zh.BLL.Define.Contracts.ICWXWeiXinApplicationService"
          parent="TxProxyConfigurationTemplate" >
    <property name="Target" >
      <object id="Zh.BLL.Define.Contracts.Imp.CWXWeiXinApplicationService"
         type="Zh.BLL.Define.Contracts.Imp.CWXWeiXinApplicationService,Zh.BLL.Define"
         parent="Zh.BLL.Base.Define.BaseService">
      </object>
    </property>
  </object>

  <object id="Zh.BLL.Define.Contracts.IComCountService"
        type="Zh.BLL.Imp.Count.ComCountService,Zh.BLL.Imp.Count"
        parent="Zh.BLL.Base.Define.BaseService"
          >
  </object>

  <!-- WeiXin_QRCodePromotionActivityAccountPointsHistory逻辑层 begin -->
  <object name="Zh.BLL.Define.Contracts.IWeiXinQRCodePromotionActivityAccountPointsHistoryService"
        parent="TxProxyConfigurationTemplate" >
    <property name="Target" >
      <object id="Zh.BLL.Imp.WeiXin.WeiXinQRCodePromotionActivityAccountPointsHistoryService"
         type="Zh.BLL.Imp.WeiXin.WeiXinQRCodePromotionActivityAccountPointsHistoryService,Zh.BLL.Imp.WeiXin"
         parent="Zh.BLL.Base.Define.BaseService">
      </object>
    </property>
  </object>
  <!-- WeiXin_QRCodePromotionActivityAccountPointsHistory逻辑层 end -->
  <!-- IWeiXinQRCodePromotionActivityAccountService逻辑层 begin -->
  <object name="Zh.BLL.Define.Contracts.IWeiXinQRCodePromotionActivityAccountService"
        parent="TxProxyConfigurationTemplate" >
    <property name="Target" >
      <object id="Zh.BLL.Imp.WeiXin.WeiXinQRCodePromotionActivityAccountService"
        type="Zh.BLL.Imp.WeiXin.WeiXinQRCodePromotionActivityAccountService,Zh.BLL.Imp.WeiXin"
        parent="Zh.BLL.Base.Define.BaseService">
        <property name="QRCodeImageHeight" value="400" />
        <property name="QRCodeImageWidth" value="400" />
        <property name="_WeiXinAPIContext" ref="Zh.WeiXin.BLL.API.WeiXinAPIContext" />
      </object>
    </property>
  </object>
  <!-- IWeiXinQRCodePromotionActivityAccountService逻辑层 end -->
  <!-- IWeiXinQRCodePromotionActivityConfigService逻辑层 begin -->
  <object name="Zh.BLL.Define.Contracts.IWeiXinQRCodePromotionActivityConfigService"
        parent="TxProxyConfigurationTemplate" >
    <property name="Target" >
      <object id="Zh.BLL.Imp.WeiXin.WeiXinQRCodePromotionActivityConfigService"
         type="Zh.BLL.Imp.WeiXin.WeiXinQRCodePromotionActivityConfigService,Zh.BLL.Imp.WeiXin"
         >
      </object>
    </property>
  </object>
  <!-- IWeiXinQRCodePromotionActivityConfigService逻辑层 end -->
  <!-- WeiXin_QRCodePromotionActivityMemberFromAccount逻辑层 begin -->
  <object name="Zh.BLL.Define.Contracts.IWeiXinQRCodePromotionActivityMemberFromAccountService"
        parent="TxProxyConfigurationTemplate" >
    <property name="Target" >
      <object id="Zh.BLL.Imp.WeiXin.WeiXinQRCodePromotionActivityMemberFromAccountService"
         type="Zh.BLL.Imp.WeiXin.WeiXinQRCodePromotionActivityMemberFromAccountService,Zh.BLL.Imp.WeiXin"
         parent="Zh.BLL.Base.Define.BaseService">
      </object>
    </property>
  </object>
  <!-- WeiXin_QRCodePromotionActivityMemberFromAccount逻辑层 end -->
  <!-- IWeiXinQRCodePromotionActivitySendRedPackService逻辑层 begin -->
  <object name="Zh.BLL.Define.Contracts.IWeiXinQRCodePromotionActivitySendRedPackService"
        parent="TxProxyConfigurationTemplate" >
    <property name="Target" >
      <object id="Zh.BLL.Imp.WeiXin.WeiXinQRCodePromotionActivitySendRedPackService"
         type="Zh.BLL.Imp.WeiXin.WeiXinQRCodePromotionActivitySendRedPackService,Zh.BLL.Imp.WeiXin"
         parent="Zh.BLL.Base.Define.BaseService">
      </object>
    </property>
  </object>
  <!-- IWeiXinQRCodePromotionActivitySendRedPackService逻辑层 end -->
</objects>
