<objects xmlns="http://www.springframework.net"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.net
        http://www.springframework.net/xsd/spring-objects.xsd">

  <object id="Zh.Net.Http.IHttpClient" 
          type="Zh.Net.Http.Impls.HttpClient,Zh.Comp.Net.Http"  
          singleton="false"/> 
</objects>
