/src/Zh.BLL.Base.Define/bin
/src/Zh.BLL.Base.Define/obj
/src/Zh.BLL.Define/bin
/src/Zh.BLL.Define/obj
/src/Zh.BLL.Define.Test/bin
/src/Zh.BLL.Define.Test/obj
/src/Zh.BLL.Imp.Count/bin
/src/Zh.BLL.Imp.Count/obj
/src/Zh.BLL.Imp.WeiXin/bin
/src/Zh.BLL.Imp.WeiXin/obj
/src/Zh.Comp.QRCode/bin
/src/Zh.Comp.QRCode/obj
/src/Zh.Comp.Router/bin
/src/Zh.Comp.Router/obj
/src/Zh.Comp.Router.Test/bin
/src/Zh.Comp.Router.Test/obj
/src/Zh.Comp.Router.Web/bin
/src/Zh.Comp.Router.Web/obj
/src/Zh.DAL.Base.Define/bin
/src/Zh.DAL.Base.Define/obj
/src/Zh.DAL.Base.NH/bin
/src/Zh.DAL.Base.NH/obj
/src/Zh.DAL.Define/bin
/src/Zh.DAL.Define/obj
/src/Zh.DAL.Define.Test/bin
/src/Zh.DAL.Define.Test/obj
/src/Zh.DAL.EntityFramework.Extend/bin
/src/Zh.DAL.EntityFramework.Extend/obj
/src/Zh.DAL.Imp.NH/bin
/src/Zh.DAL.Imp.NH/obj
/src/Zh.DAL.Imp.NH.Test/bin
/src/Zh.DAL.Imp.NH.Test/obj
/src/Zh.Framework/bin
/src/Zh.Framework/obj
/src/Zh.Framework.Console.Test/bin
/src/Zh.Framework.Console.Test/obj
/src/Zh.Framework.Test/bin
/src/Zh.Framework.Test/obj
/src/Zh.Framework.Tools.LogTool/bin
/src/Zh.Framework.Tools.LogTool/obj
/src/Zh.Framework46/bin
/src/Zh.Framework46/obj
/src/Zh.Net.Http/bin
/src/Zh.Net.Http/obj
/src/Zh.Test.Console/bin
/src/Zh.Test.Console/obj
/src/Zh.Web.Base/bin
/src/Zh.Web.Base/obj
/src/Zh.Web.Controllers/bin
/src/Zh.Web.Controllers/obj
/src/Zh.Web.Controllers.Base/bin
/src/Zh.Web.Controllers.Base/obj
/src/Zh.Web.Controllers.Test/bin
/src/Zh.Web.Controllers.Test/obj
/src/Zh.WeiXin.BLL/bin
/src/Zh.WeiXin.BLL/obj
/src/Zh.WeiXin.BLL.Test/bin
/src/Zh.WeiXin.BLL.Test/obj
/src/Zh.WeiXin.UI.Web.Test/bin
/src/Zh.WeiXin.UI.Web.Test/obj
/src/Zh.Window.Service.Timer/bin
/src/Zh.Window.Service.Timer/obj
/src/Zh.EntityFrameworkEx/obj
/src/Zh.EntityFrameworkEx/bin
