/src/Zh.BLL.Base.Define/bin
/src/Zh.BLL.Base.Define/obj
/src/Zh.BLL.Define/bin
/src/Zh.BLL.Define/obj
/src/Zh.BLL.Define.Test/bin
/src/Zh.BLL.Define.Test/obj
/src/Zh.BLL.Imp.Count/bin
/src/Zh.BLL.Imp.Count/obj
/src/Zh.BLL.Imp.WeiXin/bin
/src/Zh.BLL.Imp.WeiXin/obj
/src/Zh.Comp.QRCode/bin
/src/Zh.Comp.QRCode/obj
/src/Zh.Comp.Router/bin
/src/Zh.Comp.Router/obj
/src/Zh.Comp.Router.Test/bin
/src/Zh.Comp.Router.Test/obj
/src/Zh.Comp.Router.Web/bin
/src/Zh.Comp.Router.Web/obj
/src/Zh.DAL.Base.Define/bin
/src/Zh.DAL.Base.Define/obj
/src/Zh.DAL.Base.NH/bin
/src/Zh.DAL.Base.NH/obj
/src/Zh.DAL.Define/bin
/src/Zh.DAL.Define/obj
/src/Zh.DAL.Define.Test/bin
/src/Zh.DAL.Define.Test/obj
/src/Zh.DAL.EntityFramework.Extend/bin
/src/Zh.DAL.EntityFramework.Extend/obj
/src/Zh.DAL.Imp.NH/bin
/src/Zh.DAL.Imp.NH/obj
/src/Zh.DAL.Imp.NH.Test/bin
/src/Zh.DAL.Imp.NH.Test/obj
/src/Zh.Framework/bin
/src/Zh.Framework/obj
/src/Zh.Framework.Console.Test/bin
/src/Zh.Framework.Console.Test/obj
/src/Zh.Framework.Test/bin
/src/Zh.Framework.Test/obj
/src/Zh.Framework.Tools.LogTool/bin
/src/Zh.Framework.Tools.LogTool/obj
/src/Zh.Framework46/bin
/src/Zh.Framework46/obj
/src/Zh.Net.Http/bin
/src/Zh.Net.Http/obj
/src/Zh.Test.Console/bin
/src/Zh.Test.Console/obj
/src/Zh.Web.Base/bin
/src/Zh.Web.Base/obj
/src/Zh.Web.Controllers/bin
/src/Zh.Web.Controllers/obj
/src/Zh.Web.Controllers.Base/bin
/src/Zh.Web.Controllers.Base/obj
/src/Zh.Web.Controllers.Test/bin
/src/Zh.Web.Controllers.Test/obj
/src/Zh.WeiXin.BLL/bin
/src/Zh.WeiXin.BLL/obj
/src/Zh.WeiXin.BLL.Test/bin
/src/Zh.WeiXin.BLL.Test/obj
/src/Zh.WeiXin.UI.Web.Test/bin
/src/Zh.WeiXin.UI.Web.Test/obj
/src/Zh.Window.Service.Timer/bin
/src/Zh.Window.Service.Timer/obj
/src/Zh.EntityFrameworkEx/obj
/src/Zh.EntityFrameworkEx/bin
/src/Zh.Comp.DataValidator/bin/Debug/Zh.Comp.DataValidator.dll
/src/Zh.Comp.DataValidator/bin/Debug/Zh.Comp.DataValidator.pdb
/src/Zh.Comp.DataValidator/bin/Release/Zh.Comp.DataValidator.dll
/src/Zh.Comp.DataValidator/bin/Release/Zh.Comp.DataValidator.pdb
/src/Zh.Comp.DataValidator/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/Zh.Comp.DataValidator/obj/Debug/Zh.Comp.DataValidator.csproj.FileListAbsolute.txt
/src/Zh.Comp.DataValidator/obj/Debug/Zh.Comp.DataValidator.dll
/src/Zh.Comp.DataValidator/obj/Debug/Zh.Comp.DataValidator.pdb
/src/Zh.Comp.DataValidator/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/src/Zh.Comp.DataValidator/obj/Release/Zh.Comp.DataValidator.csproj.FileListAbsolute.txt
/src/Zh.Comp.DataValidator/obj/Release/Zh.Comp.DataValidator.csprojResolveAssemblyReference.cache
/src/Zh.Comp.DataValidator/obj/Release/Zh.Comp.DataValidator.dll
/src/Zh.Comp.DataValidator/obj/Release/Zh.Comp.DataValidator.pdb
/src/Zh.Comp.DataValidatorTests/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
/src/Zh.Comp.DataValidatorTests/bin/Debug/Zh.Comp.DataValidator.dll
/src/Zh.Comp.DataValidatorTests/bin/Debug/Zh.Comp.DataValidator.pdb
/src/Zh.Comp.DataValidatorTests/bin/Debug/Zh.Comp.DataValidatorTests.dll
/src/Zh.Comp.DataValidatorTests/bin/Debug/Zh.Comp.DataValidatorTests.pdb
/src/Zh.Comp.DataValidatorTests/bin/Release/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
/src/Zh.Comp.DataValidatorTests/bin/Release/Zh.Comp.DataValidator.dll
/src/Zh.Comp.DataValidatorTests/bin/Release/Zh.Comp.DataValidator.pdb
/src/Zh.Comp.DataValidatorTests/bin/Release/Zh.Comp.DataValidatorTests.dll
/src/Zh.Comp.DataValidatorTests/bin/Release/Zh.Comp.DataValidatorTests.pdb
/src/Zh.Comp.DataValidatorTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/Zh.Comp.DataValidatorTests/obj/Debug/Zh.Comp.DataValidatorTests.csproj.FileListAbsolute.txt
/src/Zh.Comp.DataValidatorTests/obj/Debug/Zh.Comp.DataValidatorTests.csprojResolveAssemblyReference.cache
/src/Zh.Comp.DataValidatorTests/obj/Debug/Zh.Comp.DataValidatorTests.dll
/src/Zh.Comp.DataValidatorTests/obj/Debug/Zh.Comp.DataValidatorTests.pdb
/src/Zh.Comp.DataValidatorTests/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/src/Zh.Comp.DataValidatorTests/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/src/Zh.Comp.DataValidatorTests/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/src/Zh.Comp.DataValidatorTests/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/src/Zh.Comp.DataValidatorTests/obj/Release/Zh.Comp.DataValidatorTests.csproj.FileListAbsolute.txt
/src/Zh.Comp.DataValidatorTests/obj/Release/Zh.Comp.DataValidatorTests.csprojResolveAssemblyReference.cache
/src/Zh.Comp.DataValidatorTests/obj/Release/Zh.Comp.DataValidatorTests.dll
/src/Zh.Comp.DataValidatorTests/obj/Release/Zh.Comp.DataValidatorTests.pdb
/src/Zh.Web.Mvc.Framework.Test/bin/Antlr3.Runtime.dll
/src/Zh.Web.Mvc.Framework.Test/bin/Common.Logging.dll
/src/Zh.Web.Mvc.Framework.Test/bin/EntityFramework.SqlServer.dll
/src/Zh.Web.Mvc.Framework.Test/bin/EntityFramework.dll
/src/Zh.Web.Mvc.Framework.Test/bin/Iesi.Collections.dll
/src/Zh.Web.Mvc.Framework.Test/bin/Microsoft.AI.Agent.Intercept.dll
/src/Zh.Web.Mvc.Framework.Test/bin/Microsoft.AI.DependencyCollector.dll
/src/Zh.Web.Mvc.Framework.Test/bin/Microsoft.AI.PerfCounterCollector.dll
/src/Zh.Web.Mvc.Framework.Test/bin/Microsoft.AI.ServerTelemetryChannel.dll
/src/Zh.Web.Mvc.Framework.Test/bin/Microsoft.AI.Web.dll
/src/Zh.Web.Mvc.Framework.Test/bin/Microsoft.AI.WindowsServer.dll
/src/Zh.Web.Mvc.Framework.Test/bin/Microsoft.ApplicationInsights.dll
/src/Zh.Web.Mvc.Framework.Test/bin/Microsoft.AspNet.Identity.Core.dll
/src/Zh.Web.Mvc.Framework.Test/bin/Microsoft.AspNet.Identity.EntityFramework.dll
/src/Zh.Web.Mvc.Framework.Test/bin/Microsoft.AspNet.Identity.Owin.dll
/src/Zh.Web.Mvc.Framework.Test/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/src/Zh.Web.Mvc.Framework.Test/bin/Microsoft.Diagnostics.Tracing.EventSource.dll
/src/Zh.Web.Mvc.Framework.Test/bin/Microsoft.Owin.Host.SystemWeb.dll
/src/Zh.Web.Mvc.Framework.Test/bin/Microsoft.Owin.Security.Cookies.dll
/src/Zh.Web.Mvc.Framework.Test/bin/Microsoft.Owin.Security.Facebook.dll
/src/Zh.Web.Mvc.Framework.Test/bin/Microsoft.Owin.Security.Google.dll
/src/Zh.Web.Mvc.Framework.Test/bin/Microsoft.Owin.Security.MicrosoftAccount.dll
/src/Zh.Web.Mvc.Framework.Test/bin/Microsoft.Owin.Security.OAuth.dll
/src/Zh.Web.Mvc.Framework.Test/bin/Microsoft.Owin.Security.Twitter.dll
/src/Zh.Web.Mvc.Framework.Test/bin/Microsoft.Owin.Security.dll
/src/Zh.Web.Mvc.Framework.Test/bin/Microsoft.Owin.dll
/src/Zh.Web.Mvc.Framework.Test/bin/Microsoft.Threading.Tasks.Extensions.Desktop.dll
/src/Zh.Web.Mvc.Framework.Test/bin/Microsoft.Threading.Tasks.Extensions.dll
/src/Zh.Web.Mvc.Framework.Test/bin/Microsoft.Threading.Tasks.dll
/src/Zh.Web.Mvc.Framework.Test/bin/Microsoft.Web.Infrastructure.dll
/src/Zh.Web.Mvc.Framework.Test/bin/Newtonsoft.Json.dll
/src/Zh.Web.Mvc.Framework.Test/bin/Owin.dll
/src/Zh.Web.Mvc.Framework.Test/bin/SevenZipSharp.dll
/src/Zh.Web.Mvc.Framework.Test/bin/Spring.Core.dll
/src/Zh.Web.Mvc.Framework.Test/bin/System.IO.dll
/src/Zh.Web.Mvc.Framework.Test/bin/System.Net.Http.Formatting.dll
/src/Zh.Web.Mvc.Framework.Test/bin/System.Runtime.dll
/src/Zh.Web.Mvc.Framework.Test/bin/System.Threading.Tasks.dll
/src/Zh.Web.Mvc.Framework.Test/bin/System.Web.Helpers.dll
/src/Zh.Web.Mvc.Framework.Test/bin/System.Web.Http.Owin.dll
/src/Zh.Web.Mvc.Framework.Test/bin/System.Web.Http.WebHost.dll
/src/Zh.Web.Mvc.Framework.Test/bin/System.Web.Http.dll
/src/Zh.Web.Mvc.Framework.Test/bin/System.Web.Mvc.dll
/src/Zh.Web.Mvc.Framework.Test/bin/System.Web.Optimization.dll
/src/Zh.Web.Mvc.Framework.Test/bin/System.Web.Razor.dll
/src/Zh.Web.Mvc.Framework.Test/bin/System.Web.WebPages.Deployment.dll
/src/Zh.Web.Mvc.Framework.Test/bin/System.Web.WebPages.Razor.dll
/src/Zh.Web.Mvc.Framework.Test/bin/System.Web.WebPages.dll
/src/Zh.Web.Mvc.Framework.Test/bin/WebActivatorEx.dll
/src/Zh.Web.Mvc.Framework.Test/bin/WebGrease.dll
/src/Zh.Web.Mvc.Framework.Test/bin/Zh.Framework.dll
/src/Zh.Web.Mvc.Framework.Test/bin/Zh.Web.Mvc.Framework.dll
/src/Zh.Web.Mvc.Framework.Test/bin/log4net.dll
/src/Zh.Web.Mvc.Framework.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/Zh.Web.Mvc.Framework.Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/src/Zh.Web.Mvc.Framework.Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/src/Zh.Web.Mvc.Framework.Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/src/Zh.Web.Mvc.Framework.Test/obj/Debug/build.force
/src/Zh.Web.Mvc.Framework.Test/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/src/Zh.Web.Mvc.Framework.Test/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/src/Zh.Web.Mvc.Framework.Test/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/src/Zh.Web.Mvc.Framework.Test/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/src/Zh.Web.Mvc.Framework.Test/obj/Release/build.force
/src/.vs/Zh.Framework/v14/.suo
/src/.vs/config/applicationhost.config
/src/UpgradeLog.htm
/src/Zh.Web.Mvc.Framework/bin/Common.Logging.dll
/src/Zh.Web.Mvc.Framework/bin/Config/Zh/Framework/ApplicationContext/Override/Override.config
/src/Zh.Web.Mvc.Framework/bin/Config/Zh/Framework/ApplicationContext/Zh.Framework.config
/src/Zh.Web.Mvc.Framework/bin/Config/Zh/Framework/ApplicationContextIocLoader/IocLoader.config
/src/Zh.Web.Mvc.Framework/bin/Iesi.Collections.dll
/src/Zh.Web.Mvc.Framework/bin/Iesi.Collections.xml
/src/Zh.Web.Mvc.Framework/bin/Microsoft.AI.Agent.Intercept.dll
/src/Zh.Web.Mvc.Framework/bin/Microsoft.AI.DependencyCollector.dll
/src/Zh.Web.Mvc.Framework/bin/Microsoft.AI.DependencyCollector.xml
/src/Zh.Web.Mvc.Framework/bin/Microsoft.AI.PerfCounterCollector.dll
/src/Zh.Web.Mvc.Framework/bin/Microsoft.AI.ServerTelemetryChannel.dll
/src/Zh.Web.Mvc.Framework/bin/Microsoft.AI.ServerTelemetryChannel.xml
/src/Zh.Web.Mvc.Framework/bin/Microsoft.AI.Web.dll
/src/Zh.Web.Mvc.Framework/bin/Microsoft.AI.Web.xml
/src/Zh.Web.Mvc.Framework/bin/Microsoft.AI.WindowsServer.dll
/src/Zh.Web.Mvc.Framework/bin/Microsoft.AI.WindowsServer.xml
/src/Zh.Web.Mvc.Framework/bin/Microsoft.ApplicationInsights.dll
/src/Zh.Web.Mvc.Framework/bin/Microsoft.ApplicationInsights.xml
/src/Zh.Web.Mvc.Framework/bin/Microsoft.Diagnostics.Tracing.EventSource.dll
/src/Zh.Web.Mvc.Framework/bin/Microsoft.Diagnostics.Tracing.EventSource.xml
/src/Zh.Web.Mvc.Framework/bin/Microsoft.Threading.Tasks.Extensions.Desktop.dll
/src/Zh.Web.Mvc.Framework/bin/Microsoft.Threading.Tasks.Extensions.Desktop.xml
/src/Zh.Web.Mvc.Framework/bin/Microsoft.Threading.Tasks.Extensions.dll
/src/Zh.Web.Mvc.Framework/bin/Microsoft.Threading.Tasks.Extensions.xml
/src/Zh.Web.Mvc.Framework/bin/Microsoft.Threading.Tasks.dll
/src/Zh.Web.Mvc.Framework/bin/Microsoft.Threading.Tasks.xml
/src/Zh.Web.Mvc.Framework/bin/Microsoft.Web.Infrastructure.dll
/src/Zh.Web.Mvc.Framework/bin/Newtonsoft.Json.dll
/src/Zh.Web.Mvc.Framework/bin/Newtonsoft.Json.xml
/src/Zh.Web.Mvc.Framework/bin/SevenZipSharp.dll
/src/Zh.Web.Mvc.Framework/bin/Spring.Core.dll
/src/Zh.Web.Mvc.Framework/bin/Spring.Core.pdb
/src/Zh.Web.Mvc.Framework/bin/System.IO.dll
/src/Zh.Web.Mvc.Framework/bin/System.IO.xml
/src/Zh.Web.Mvc.Framework/bin/System.Net.Http.Formatting.dll
/src/Zh.Web.Mvc.Framework/bin/System.Net.Http.Formatting.xml
/src/Zh.Web.Mvc.Framework/bin/System.Net.Http.dll
/src/Zh.Web.Mvc.Framework/bin/System.Net.Http.xml
/src/Zh.Web.Mvc.Framework/bin/System.Runtime.dll
/src/Zh.Web.Mvc.Framework/bin/System.Runtime.xml
/src/Zh.Web.Mvc.Framework/bin/System.Threading.Tasks.dll
/src/Zh.Web.Mvc.Framework/bin/System.Threading.Tasks.xml
/src/Zh.Web.Mvc.Framework/bin/System.Web.Helpers.dll
/src/Zh.Web.Mvc.Framework/bin/System.Web.Helpers.xml
/src/Zh.Web.Mvc.Framework/bin/System.Web.Http.dll
/src/Zh.Web.Mvc.Framework/bin/System.Web.Http.xml
/src/Zh.Web.Mvc.Framework/bin/System.Web.Mvc.dll
/src/Zh.Web.Mvc.Framework/bin/System.Web.Mvc.xml
/src/Zh.Web.Mvc.Framework/bin/System.Web.Razor.dll
/src/Zh.Web.Mvc.Framework/bin/System.Web.Razor.xml
/src/Zh.Web.Mvc.Framework/bin/System.Web.WebPages.Deployment.dll
/src/Zh.Web.Mvc.Framework/bin/System.Web.WebPages.Deployment.xml
/src/Zh.Web.Mvc.Framework/bin/System.Web.WebPages.Razor.dll
/src/Zh.Web.Mvc.Framework/bin/System.Web.WebPages.Razor.xml
/src/Zh.Web.Mvc.Framework/bin/System.Web.WebPages.dll
/src/Zh.Web.Mvc.Framework/bin/System.Web.WebPages.xml
/src/Zh.Web.Mvc.Framework/bin/WebActivatorEx.dll
/src/Zh.Web.Mvc.Framework/bin/Zh.Framework.dll
/src/Zh.Web.Mvc.Framework/bin/Zh.Framework.pdb
/src/Zh.Web.Mvc.Framework/bin/Zh.Web.Mvc.Framework.dll
/src/Zh.Web.Mvc.Framework/bin/Zh.Web.Mvc.Framework.dll.config
/src/Zh.Web.Mvc.Framework/bin/Zh.Web.Mvc.Framework.pdb
/src/Zh.Web.Mvc.Framework/bin/log4net.dll
/src/Zh.Web.Mvc.Framework/bin/log4net.xml
/src/Zh.Web.Mvc.Framework/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/Zh.Web.Mvc.Framework/obj/Debug/Zh.Web.Mvc.Framework.csproj.App.config
/src/Zh.Web.Mvc.Framework/obj/Debug/Zh.Web.Mvc.Framework.csproj.FileListAbsolute.txt
/src/Zh.Web.Mvc.Framework/obj/Debug/Zh.Web.Mvc.Framework.csprojResolveAssemblyReference.cache
/src/Zh.Web.Mvc.Framework/obj/Debug/Zh.Web.Mvc.Framework.dll
/src/Zh.Web.Mvc.Framework/obj/Debug/Zh.Web.Mvc.Framework.pdb
/src/Zh.Web.Mvc.Framework/obj/Debug/build.force
/src/Zh.Web.Mvc.Framework/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/src/Zh.Web.Mvc.Framework/obj/Release/Zh.Web.Mvc.Framework.csproj.App.config
/src/Zh.Web.Mvc.Framework/obj/Release/build.force
