<objects xmlns="http://www.springframework.net"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.net
        http://www.springframework.net/xsd/spring-objects.xsd">

  <object id="Zh.Framework.IocApplicationContext"
      type="Zh.Framework.Tools.IocTool.Imp.BaseIocSpringToolImp,Zh.Framework"
      scope="application"
      singleton="true">
    <property name="ConfigDirPaths">
      <list element-type="string">
        <value>~/Config/Zh/Framework/ApplicationContext</value>
        <value>~/Config/Zh/Framework/ApplicationContext/0</value>
        <value>~/Config/Zh/Framework/ApplicationContext/1</value>
        <value>~/Config/Zh/Framework/ApplicationContext/2</value>
        <value>~/Config/Zh/Framework/ApplicationContext/3</value>
        <value>~/Config/Zh/Framework/ApplicationContext/Override</value>

        <value>~/Config/Zh/DAL/ApplicationContext</value>
        <value>~/Config/Zh/DAL/ApplicationContext/0</value>
        <value>~/Config/Zh/DAL/ApplicationContext/1</value>
        <value>~/Config/Zh/DAL/ApplicationContext/2</value>
        <value>~/Config/Zh/DAL/ApplicationContext/3</value>
        <value>~/Config/Zh/DAL/ApplicationContext/Override</value>

        <value>~/Config/Zh/BLL/ApplicationContext</value>
        <value>~/Config/Zh/BLL/ApplicationContext/0</value>
        <value>~/Config/Zh/BLL/ApplicationContext/1</value>
        <value>~/Config/Zh/BLL/ApplicationContext/2</value>
        <value>~/Config/Zh/BLL/ApplicationContext/3</value>
        <value>~/Config/Zh/BLL/ApplicationContext/Override</value>
      </list>
    </property>
  </object>
</objects>
