<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="CommonRollingLogFileAppender" />
  </root>

  <!-- Web运行时间日志 日志文件部分log输出格式的设定 -->
  <appender name="CommonRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Logs\Web运行时间日志\Log_" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd'.txt'" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <header value="\n\t" />
      <ConversionPattern value="%n%date %-5level - %message" />
    </layout>
  </appender>
  <!-- 邮箱消息通知日志 邮箱设置 -->
  <appender name="CommonSmtpAppender" type="log4net.Appender.SmtpAppender">
    <!-- SMTP 验证方式 -->
    <authentication value="Basic" />
    <to value="279397942@qq.com" />
    <from value="chensair_work@163.com" />
    <username value="chensair_work@163.com" />
    <password value="qwer1234" />
    <subject value="直播消息通知处理机制错误" />
    <!--邮件服务端-->
    <smtpHost value="smtp.163.com" />
    <bufferSize value="1" />
    <lossy value="true" />
    <!--这里我设置的是Error ，会接收（FATAL和ERROR日志）你可以根据自己的需要设置 Log4net支持多种级别的日志。优先级从高到低依次排列如下: FATAL > ERROR > WARN > INFO > DEBUG-->
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="ERROR" />
    </evaluator>
    <!--输出格式-->
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%n%date [%thread] %-5level %logger [%ndc] - %message%newline%n%l" />
    </layout>
  </appender>
</log4net>