<objects xmlns="http://www.springframework.net"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.net file:///d:/temp/spring-objects.xsd">

  <!--
      类方法路由器配置例子
  -->
  <object id="ClassMethodRouterExample"
          type="Zh.Comp.Router.ReflectorRouters.MethodRouters.MethodRouter,Zh.Comp.Router">
    <property name="RouteTables">
      <list element-type="Zh.Comp.Router.AbstractRouteTable,Zh.Comp.Router">
        <!-- 
            Type : 反射方法路由表 
            init-method : InitFromSearchers初始化之后立刻搜索反射方法目标路由数据
         -->
        <object type="Zh.Comp.Router.ReflectorRouters.MethodRouters.MethodRouteTable,Zh.Comp.Router" init-method="InitFromSearchers" >
          <!-- 路由表搜索器 -->
          <property name="Searchers">
            <list element-type="Zh.Comp.Router.IRouteTableConfigSearcher,Zh.Comp.Router">
              <!-- 类方法正则搜索器配置 -->
              <object type="Zh.Comp.Router.ReflectorRouters.Searchers.ClassMethodRegexSearcher,Zh.Comp.Router">
                <!-- 程序集名称正则表达式 -->
                <property name="AssemblyName" value="Zh\.BLL\.Imp\.Count" />
                <!-- 类名称正则表达式 -->
                <property name="Type" value=".*" />
                <!-- 方法名称正则表达式 -->
                <property name="Method" value=".*" />
              </object>
            </list>
          </property>
          
          <!-- 路由数据映射器 -->
          <property name="RouteMappers">
            <list element-type="Zh.Comp.Router.AbstractRouteMapper,Zh.Comp.Router">
              <object type="Zh.Comp.Router.ReflectorRouters.Mappers.UrlToClassMethodMapper,Zh.Comp.Router">
                <!-- 从Type组中获取获取类型名称正则表达式 -->
                <property name="Type" value="/app/(?'Type'[a-zA-Z]*)" />
                <!-- 类型名称模板 {0}:正Type中获取到的类型名称 -->
                <property name="TypeTemplate" value="{0}Service" />
                <!-- 从Method组中获取方法名称正则表达式 -Method -->
                <property name="Method" value="/app/[a-zA-Z]*/(?'Method'[a-zA-Z]*)" />
                <!-- 方法名称模板 {0}:正Method中获取到的方法名称 -->
                <property name="MethodTemplate" value="{0}" />
              </object>
            </list>
          </property>
        </object>
      </list>
    </property>
  </object>


  <!--
      Spring接口方法路由器配置例子
  -->
  <object id="SpringMethodRouterExample"
          type="Zh.Comp.Router.ReflectorRouters.MethodRouters.MethodRouter,Zh.Comp.Router">
    <property name="RouteTables">
      <list element-type="Zh.Comp.Router.AbstractRouteTable,Zh.Comp.Router">
        <!-- 
            Type : 反射方法路由表 
            init-method : InitFromSearchers初始化之后立刻搜索反射方法目标路由数据
         -->
        <object type="Zh.Comp.Router.ReflectorRouters.MethodRouters.MethodRouteTable,Zh.Comp.Router" init-method="InitFromSearchers" >
          <property name="RouteFilters">
            <list element-type="Zh.Comp.Router.AbstractRouteFilter,Zh.Comp.Router">
              <object type="Zh.Comp.Router.Filters.RegexFilter,Zh.Comp.Router">
                <property name="Form" value="/smr/.*"></property>
              </object>
            </list>
          </property>
          <!-- 路由表搜索器 -->
          <property name="Searchers">
            <list element-type="Zh.Comp.Router.IRouteTableConfigSearcher,Zh.Comp.Router">
              <!-- 类方法正则搜索器配置 -->
              <object type="Zh.Comp.Router.ReflectorRouters.Searchers.ClassMethodRegexSearcher,Zh.Comp.Router">
                <!-- 程序集名称正则表达式 -->
                <property name="AssemblyName" value="Zh\.BLL\.Imp\.Count" />
                <!-- 类名称正则表达式 -->
                <property name="Type" value=".*" />
                <!-- 方法名称正则表达式 -->
                <property name="Method" value=".*" />
              </object>
            </list>
          </property>

          <!-- 路由数据映射器 -->
          <property name="RouteMappers">
            <list element-type="Zh.Comp.Router.AbstractRouteMapper,Zh.Comp.Router">
              <object type="Zh.Comp.Router.ReflectorRouters.Mappers.UrlToClassMethodMapper,Zh.Comp.Router">
                <!-- 从Type组中获取获取类型名称正则表达式 -->
                <property name="Type" value="/app/(?'Type'[a-zA-Z]*)" />
                <!-- 类型名称模板 {0}:正Type中获取到的类型名称 -->
                <property name="TypeTemplate" value="{0}Service" />
                <!-- 从Method组中获取方法名称正则表达式 -Method -->
                <property name="Method" value="/app/[a-zA-Z]*/(?'Method'[a-zA-Z]*)" />
                <!-- 方法名称模板 {0}:正Method中获取到的方法名称 -->
                <property name="MethodTemplate" value="{0}" />
              </object>
            </list>
          </property>
        </object>
      </list>
    </property>
  </object>
</objects>
