<objects xmlns="http://www.springframework.net"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.net
        http://www.springframework.net/xsd/spring-objects.xsd">

  <object id="Zh.Framework.Tools.ValidatorTool.IValidatorTool"
          type="Zh.Framework.Tools.ValidatorTool.ValidatorToolImp,Zh.Framework"
          singleton="false"/>

  <object id="Zh.Framework.Tools.CryptogramTool.ICryptogramTool"
        type="Zh.Framework.Tools.CryptogramTool.Imp.CryptogramToolImp,Zh.Framework"
        singleton="false"/>

  <object id="Zh.Framework.Tools.FileTool.IFileTool"
          type="Zh.Framework.Tools.FileTool.FileToolImp,Zh.Framework"
          singleton="false">
    <property name="_IValidatorTool" ref="Zh.Framework.Tools.ValidatorTool.IValidatorTool"/>
  </object>

  <object id="Zh.Framework.Tools.AppContextTool.IAppContext"
      type="Zh.Framework.Tools.AppContextTool.Imp.AppContextImp,Zh.Framework"
      singleton="false">
  </object>

  <object id="Zh.Framework.Cache.Imp.FileCache"
        type="Zh.Framework.Cache.Imp.FileCache,Zh.Framework"
        singleton="false">
    <property name="_ISerializeTool" ref="Zh.Framework.Tools.SerializeTool.Imp.XmlSerializeToolImp"/>
    <property name="_IAppContext" ref="Zh.Framework.Tools.AppContextTool.IAppContext"/>
    <property name="CacheFileFullName" value="~/Cache/Zh/cache.cache"/>
  </object>

  <object id="Zh.Framework.Tools.SerializeTool.Imp.XmlSerializeToolImp" name="Zh.Framework.Tools.SerializeTool.ISerializeTool,Zh.Framework.Tools.SerializeTool.IXmlSerializeTool"
        type="Zh.Framework.Tools.SerializeTool.Imp.XmlSerializeToolImp,Zh.Framework"
        singleton="true">    
  </object>

  <object id="Zh.Framework.Tools.SerializeTool.Imp.JsonSerializeTool" name="Zh.Framework.Tools.SerializeTool.IJsonSerializeTool"
      type="Zh.Framework.Tools.SerializeTool.Imp.JsonSerializeTool,Zh.Framework"
      singleton="true">    
  </object>
  <object id="Zh.Framework.Tools.EntityTool.IEntityTool" type="Zh.Framework.Tools.EntityTool.EntityToolImp,Zh.Framework"/>

  <object id="Zh.Comp.QRCode.DefaultQRCode"
          name="Zh.Framework.Tools.QRCodeTool.IQRCode"
          type="Zh.Comp.QRCode.DefaultQRCode,Zh.Comp.QRCode"
          lazy-init="true"
  />
</objects>
