<?xml version="1.0"?>
<WebSet xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Wechat />
  <BussinessWeibo />
  <BussinessQQ>707384199</BussinessQQ>
  <Fax>(0763)3786001-819 </Fax>
  <CommpanyEmail>qyhond@gmall.com</CommpanyEmail>
  <CommpanyWebset>qyfiat.4sauto.com.cn</CommpanyWebset>
  <InsurancePhone>(0763)3786001-819 </InsurancePhone>
  <ServicePhone>(0763)3786001-819 </ServicePhone>
  <SellPhone>(0763)3786001-819 </SellPhone>
  <Address>广东清远新城E15号区 </Address>
  <Honor>全国十强企业</Honor>
  <Brand>广汽菲亚特</Brand>
  <CommpanyShortName>广汽菲亚特清远驰宏4S店 </CommpanyShortName>
  <CommpanyName>广汽菲亚特清远驰宏4S店 </CommpanyName>
  <WebName>清远驰宏店</WebName>
  <WebUrl>qyfiat.4sauto.com.cn</WebUrl>
  <WebTel>133</WebTel>
  <WebFax>0751</WebFax>
  <WebEmail>admin@4sauto.com.cn</WebEmail>
  <WebCrod>粤ICP备000000号</WebCrod>
  <WebKeywords>知名汽车4S门户、汽车4S店、汽车销售、4S店、门户、权威起车</WebKeywords>
  <WebDescription>4SAUTO.COM.CN是国内最大的4S店门户。最多的4S店集散地。</WebDescription>
  <WebCopyright>Copyright Right © 2010-2011 4SAUTO.COM.CN Powered By DEKE Inc</WebCopyright>
  <WebPath>/</WebPath>
  <WebManagePath>Admin</WebManagePath>
  <WebFilePath>UpLoadFiles</WebFilePath>
  <WebFileType>GIF|JPG|PNG|BMP|RAR|DOC|XLS|TXT|FLV|SWF</WebFileType>
  <WebFileSize>10240</WebFileSize>
  <WebLogStatus>1</WebLogStatus>
  <WebKillKeywords>and|exec|insert|select|delete|update|chr|mid|master|or|truncate|char|declare|join|cmd</WebKillKeywords>
  <IsUrlRewrite>1</IsUrlRewrite>
  <IsCheckFeedback>0</IsCheckFeedback>
  <IsCheckComment>0</IsCheckComment>
  <ActivityPageNum>15</ActivityPageNum>
  <ActivityGuestPageNum>15</ActivityGuestPageNum>
  <ArticlePageNum>15</ArticlePageNum>
  <PicturePageNum>14</PicturePageNum>
  <DownPageNum>15</DownPageNum>
  <ContentPageNum>15</ContentPageNum>
  <FeedbackPageNum>15</FeedbackPageNum>
  <LinkPageNum>15</LinkPageNum>
  <CommentPageNum>10</CommentPageNum>
  <AdPageNum>15</AdPageNum>
  <LogPageNum>15</LogPageNum>
  <ManagePageNum>10</ManagePageNum>
  <ArticlePageNum_Client>20</ArticlePageNum_Client>
  <PicturePageNum_Client>20</PicturePageNum_Client>
  <DownPageNum_Client>20</DownPageNum_Client>
  <FeedbackPageNum_Client>20</FeedbackPageNum_Client>
  <CommentPageNum_Client>10</CommentPageNum_Client>
  <IsThumbnail>1</IsThumbnail>
  <ProWidth>196</ProWidth>
  <ProHight>196</ProHight>
  <IsWatermark>0</IsWatermark>
  <WatermarkStatus>9</WatermarkStatus>
  <ImgQuality>80</ImgQuality>
  <ImgWaterPath>watermark.png</ImgWaterPath>
  <ImgWaterTransparency>5</ImgWaterTransparency>
  <WaterText>4sauto.com.cn</WaterText>
  <WaterFont>Arial</WaterFont>
  <FontSize>18</FontSize>
  <TemplateSkin>Car4S_Center</TemplateSkin>
  <ShopID>Car4S_Service</ShopID>
  <MessageCount>0</MessageCount>
  <WebSiteID>1000515730</WebSiteID>
  <IsShowClassicConsult>0</IsShowClassicConsult>
  <IsDebug>false</IsDebug>
  <WebMobileName>清远驰宏菲亚特</WebMobileName>
  <ShowSlidePlayerCount>10</ShowSlidePlayerCount>
  <SMSAssemblyList>[{"Assembly":"Car4S.Com.SMS.BLL.CN.Voip1688.SMSService,Car4S.Com.SMS","Id":0,"IsActive":true,"Name":"北斗通短信平台"},{"Assembly":"Note.NoteDAL_BOX,Note","Id":1,"IsActive":false,"Name":"财付通短信平台"}]</SMSAssemblyList>
</WebSet>