<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
         xmlns:db="http://www.springframework.net/database">
  <!-- 数据库配置 begin -->
  <object id="db.config" type="System.Collections.Generic.Dictionary&lt;string,object&gt;"  singleton="true" >
    <constructor-arg>
      <dictionary key-type="string" value-type="object">
        <!-- 数据库链接字符串 -->      
        <entry key="connectionstring" value="server=192.168.1.105;uid=sa;pwd=fond188.107;database=CarApeakCenter;" />
        <!--<entry key="connectionstring" value="server=122.13.65.151;uid=sa;pwd=fond188.107;database=CarApeakCenter;" />-->
        
      </dictionary>
    </constructor-arg>
  </object>
  <object id="db.config.connectionstring" type="Spring.Objects.Factory.Config.PropertyRetrievingFactoryObject,Spring.Core">
    <property name="TargetObject" ref="db.config"></property>
    <property name="TargetProperty" value="['connectionstring']"></property>
  </object>
  <!-- 数据库配置 end -->
</objects>