<objects xmlns="http://www.springframework.net"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.net
        http://www.springframework.net/xsd/spring-objects.xsd"
          >
 
  <object id="NHHibernateTemplate" 
        
          type="Zh.DAL.Base.NH.NHHibernateTemplate,Zh.DAL.Base.NH">
    <property name="SessionFactory" ref="NHibernateSessionFactory" />
    <property name="TemplateFlushMode" value="Auto" />
    <property name="CacheQueries" value="true" />
  </object>
  <object id="Zh.DAL.Define.BaseDaoTemplate"        
 
          
          type="Zh.DAL.Base.NH.NHBaseDaoTemplate,Zh.DAL.Base.NH">
    <property name="HibernateTemplate" ref="NHHibernateTemplate" />
    <property name="PlatformTransactionManager" ref="NHibernateSessionFactoryTransactionManager" />
    <property name="ClassMappingHelper" >
      <object type="Zh.DAL.Base.NH.Helpers.ClassMappingHelper,Zh.DAL.Base.NH">
        <property name="LocalSessionFactoryObjectId" value="NHibernateSessionFactory"></property>
      </object>
    </property>
     
  </object>

  <object id="Zh.DAL.Define.Contracts.BaseDao"
          abstract="true"
          singleton="false" >
    <property name="DaoTemplate" ref="Zh.DAL.Define.BaseDaoTemplate" />
    <property name="IValidatorTool" ref="Zh.Framework.Tools.ValidatorTool.IValidatorTool" />
  </object>


  <object id="Zh.DAL.Define.Contracts.IComCountDao"
        parent="Zh.DAL.Define.Contracts.BaseDao"
        type="Zh.DAL.Imp.NH.Contracts.ComCountDao,Zh.DAL.Imp.NH"
        singleton="false"  >

  </object>
</objects>
