<objects xmlns="http://www.springframework.net"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.net
        http://www.springframework.net/xsd/spring-objects.xsd">
  <!-- 数据基础链接对象 begin-->
  <object id="SqlServerProvider_2_0" type="Spring.Data.Common.DbProviderFactoryObject,Spring.Data">
    <property name="Provider" value="SqlServer-2.0"/>
    <property name="ConnectionString" ref="db.config.connectionstring" />
  </object>
  <!-- 数据基础链接对象 begin-->

  <!--Sqlite-SessionFactory对象 begin -->
  <object id="Sqlite.NHibernateSessionFactory"
          lazy-init="true"
          type="Spring.Data.NHibernate.LocalSessionFactoryObject, Spring.Data.NHibernate21">
    <!-- 查找映射文件的程序集列表 -->
    <property name="MappingAssemblies">
      <list>
        <value>Zh.DAL.Define</value>
      </list>
    </property>
    <property name="HibernateProperties">
      <dictionary>
        <entry key="connection.driver_class" value="NHibernate.Driver.SQLite20Driver" />
        <entry key="connection.connection_string" value="Data Source=D:\caspar\project\temp\db\test.db;Version=3;BinaryGUID=False;" />
        <entry key="dialect" value="NHibernate.Dialect.SQLiteDialect" />
        <entry key="query.substitutions" value="true=1;false=0"/>
        <entry key="use_outer_join" value="true"/>
        <entry key="show_sql" value="false"/>
        <!--自动建表(反向映射)-->
        <entry key="hbm2ddl.auto" value="update"/>
        <entry key="adonet.batch_size" value="10"/>
        <entry key="command_timeout" value="60"/>
        <!--显式启用二级缓存-->
        <entry key="cache.use_second_level_cache" value="true"/>
        <!--启动查询缓存-->
        <entry key="cache.use_query_cache" value="false"/>
        <entry key="query.substitutions" value="true 1, false 0, yes 'Y', no 'N"/>
        <entry key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory,NHibernate.ByteCode.Castle"/>
      </dictionary>
    </property>
    <!--<property name="ExposeTransactionAwareSessionFactory" value="true" />-->
  </object>
  <!--Sqlite-SessionFactory对象 end -->

  <!--MsSql-SessionFactory对象 begin -->
  <object id="MsSql.NHibernateSessionFactory"
          type="Zh.DAL.Base.NH.LocalSessionFactoryObjectThreadSafe,Zh.DAL.Base.NH">
    <!-- 数据基础链接对象-->
    <property name="DbProvider" ref="SqlServerProvider_2_0" />
    <!-- 查找映射文件的程序集列表 -->
    <property name="MappingAssemblies">
      <list>
        <value>Zh.DAL.Define</value>
      </list>
    </property>
    <property name="HibernateProperties">
      <dictionary>
        <entry key="connection.autocommit" value="true"/>
        <entry key="hibernate.connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
        <entry key="dialect" value="NHibernate.Dialect.MsSql2008Dialect"/>
        <entry key="hibernate.connection.driver_class" value="NHibernate.Driver.SqlClientDriver"/>
        <entry key="use_outer_join" value="true"/>
        <entry key="show_sql" value="false"/>
        <!--自动建表(反向映射)-->
        <!--<entry key="hbm2ddl.auto" value="update"/>-->
        <entry key="adonet.batch_size" value="10"/>
        <entry key="command_timeout" value="60"/>
        <!--显式启用二级缓存-->
        <entry key="cache.use_second_level_cache" value="true"/>
        <!--启动查询缓存-->
        <entry key="cache.use_query_cache" value="false"/>
        <entry key="query.substitutions" value="true 1, false 0, yes 'Y', no 'N"/>
        <entry key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory,NHibernate.ByteCode.Castle"/>
      </dictionary>
    </property>
    <property name="ExposeTransactionAwareSessionFactory" value="true" />
  </object>
  <!--MsSql-SessionFactory对象 end -->

  <!--程序使用的SessionFactory对象 begin -->
  <object id="NHibernateSessionFactory"
          lazy-init="false"
          parent="MsSql.NHibernateSessionFactory"
       
          />
  <!--程序使用的SessionFactory对象 end -->
  
  <!-- NHibernateSessionFactory事务管理器 begin -->
  <object id="NHibernateSessionFactoryTransactionManager"
       type="Spring.Data.NHibernate.HibernateTransactionManager, Spring.Data.NHibernate21">
    <property name="DbProvider" ref="SqlServerProvider_2_0"/>
    <property name="SessionFactory" ref="NHibernateSessionFactory"/>
  </object>
  
  <object id="TxProxyConfigurationTemplate"
          type="Spring.Transaction.Interceptor.TransactionProxyFactoryObject, Spring.Data"
          abstract="true">
    <property name="PlatformTransactionManager" ref="NHibernateSessionFactoryTransactionManager"/>
    <property name="TransactionAttributes">
      <name-values>
        <!-- Add common methods across your services here -->
        <add key="Create*" value="PROPAGATION_REQUIRED" />
        <add key="Update*" value="PROPAGATION_REQUIRED" />
        <add key="Remove*" value="PROPAGATION_REQUIRED" />
        <add key="Get*" value="PROPAGATION_SUPPORTS,readOnly" />
        <add key="Find*" value="PROPAGATION_SUPPORTS,readOnly" />
        <add key="List*" value="PROPAGATION_SUPPORTS,readOnly" />
        <add key="Load*" value="PROPAGATION_SUPPORTS,readOnly" />
      </name-values>
    </property>
  </object>
  <!-- NHibernateSessionFactory事务管理器 end -->
</objects>
