<objects xmlns="http://www.springframework.net"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.net
        http://www.springframework.net/xsd/spring-objects.xsd">

  <object id="Zh.WeiXin.BLL.API.Imp.BasicAPI"
        name="Zh.WeiXin.BLL.API.IBasicAPI"
        type="Zh.WeiXin.BLL.API.Imp.BasicAPI,Zh.WeiXin.BLL"
        singleton="false">
    <property name="IGetAccessTokenCache">
      <object type="Zh.WeiXin.BLL.Caches.Imp.DefaultGetAccessTokeCache,Zh.WeiXin.BLL">
        <property name="ICache" ref="Zh.Framework.Cache.Imp.FileCache" ></property>
      </object>      
    </property>
  </object>

  <object id="Zh.WeiXin.BLL.API.Imp.JSAPI"
          name="Zh.WeiXin.BLL.API.IJSAPI"
          type="Zh.WeiXin.BLL.API.Imp.JSAPI,Zh.WeiXin.BLL"
          singleton="false">
    <property name="_ICache" ref="Zh.Framework.Cache.Imp.FileCache"></property>
  </object>
  <object id="Zh.WeiXin.BLL.API.Imp.QRCodeAPI"
        name="Zh.WeiXin.BLL.API.IQRCodeAPI"
        type="Zh.WeiXin.BLL.API.Imp.QRCodeAPI,Zh.WeiXin.BLL"
        singleton="false">
    <property name="IQRCode" ref="Zh.Framework.Tools.QRCodeTool.IQRCode" />
  </object>

  <object id="Zh.WeiXin.BLL.API.Imp.AccountAPI"
      name="Zh.WeiXin.BLL.API.IAccountAPI"
      type="Zh.WeiXin.BLL.API.Imp.AccountAPI,Zh.WeiXin.BLL"
      singleton="false"> 
  </object>
</objects> 